$background-color: whitesmoke;

html, body {
    background-color: $background-color;
    margin: 0; 
    height: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'JetBrains Mono';
}
.app {
    height: 90%;
    min-width: 310px;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0px 1px 5px gray;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

p {
    word-wrap: break-word;
}

h5{
    font-size: large;
}

